<? include("../include/header.html"); ?>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>customer</button>
        <? include("../include/depth01.html"); ?>
      </div>
      <div class="depth02 menu">
        <button>견적문의</button>
        <? include("../include/lnb04.html"); ?>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">견적문의</h3>
  <div class="contents" id="estimate">
    <div class="container">
      <table class="boardTable">
        <colgroup>
          <col style="width: 5%" />
          <col />
          <col style="width: 15%" />
          <col style="width: 15%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="column">번호</th>
            <th scope="column">제목</th>
            <th scope="column">작성자</th>
            <th scope="column">날짜</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
        </tbody>
      </table>
      <? include("../include/pagination.html"); ?>
      <? include("../include/search.html"); ?>
    </div>
  </div>
</div>
<? include("../include/footer.html"); ?>
