<? include("../include/header.html"); ?>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">HOME</a>
      <div class="depth01 menu">
        <button>customer</button>
        <? include("../include/depth01.html"); ?>
      </div>
      <div class="depth02 menu">
        <button>공지사항</button>
        <? include("../include/lnb04.html"); ?>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">공지사항</h3>
  <div class="contents" id="estimate">
    <div class="container">
      <div id="news">
        <ul class="list">
          <li>
            <a href="">
              <img src="../images/main/news01.jpg" alt="" />
              <div class="desc">
                <h3>선거휴무공지 5월달에 더이상의 휴일은 없습니다.</h3>
                <p class="txt">
                  혼인과 가족생활은 개인의 존엄과 양성의 평등을 기초로 성립되고 유지되어야 하며, 국가는 이를 보장한다. 군인·군무원·경찰공무원 기타 법률이 정하는 자가 전투·훈련등 직무집행과 관련하여
                </p>
                <p class="date">2022-05-09</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../images/main/news02.jpg" alt="" />
              <div class="desc">
                <h3>선거휴무공지</h3>
                <p class="txt">
                  혼인과 가족생활은 개인의 존엄과 양성의 평등을 기초로 성립되고 유지되어야 하며, 국가는 이를 보장한다. 군인·군무원·경찰공무원 기타 법률이 정하는 자가 전투·훈련등 직무집행과 관련하여
                  받은 손해에 대하여는 법률이 정하는 보상외에 국가 또는 공공단체에 공무원의
                </p>
                <p class="date">2022-05-09</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <img src="../images/main/news03.jpg" alt="" />
              <div class="desc">
                <h3>선거휴무공지</h3>
                <p class="txt">
                  혼인과 가족생활은 개인의 존엄과 양성의 평등을 기초로 성립되고 유지되어야 하며, 국가는 이를 보장한다. 군인·군무원·경찰공무원 기타 법률이 정하는 자가 전투·훈련등 직무집행과 관련하여
                  받은 손해에 대하여는 법률이 정하는 보상외에 국가 또는 공공단체에 공무원의 직무상 불법행위로 인한 배상은 청구할 수 없다.
                </p>
                <p class="date">2022-05-09</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <table class="boardTable">
        <colgroup>
          <col style="width: 5%" />
          <col />
          <col style="width: 15%" />
          <col style="width: 15%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="column">번호</th>
            <th scope="column">제목</th>
            <th scope="column">작성자</th>
            <th scope="column">날짜</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
        </tbody>
      </table>
      <? include("../include/pagination.html"); ?>
      <? include("../include/search.html"); ?>
    </div>
  </div>
</div>
<? include("../include/footer.html"); ?>
